<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body ng-app="zdalniacyAdmin">
        <div ng-view></div>
        <script src="/vendor/angular/angular.js"></script>
        <script src="/vendor/angular-route/angular-route.js"></script>
        <script src="/app/admin/app.js"></script>
        <script src="/app/admin/dashboard/dashboardController.js"></script>
    </body>
</html>